<template>
  <div class="company">
    <h3>{{ companyData.name }}</h3>
    <img :src='companyData.avatar' height="100px;"/>
    <div class="address">
      <p v-for='address in companyData.address' v-bind:key='address'>
         {{ address }}
      </p>
    </div>
    <p>
      Стоимость от {{ companyData.cost }} рублей за занятие
    </p>
    <p>
      {{ companyData.age }}
    </p>
  </div>
</template>
<script>

export default {
  name: 'Company',
  methods: {
    getId () {
      let strGET = window.location.search.replace('?', '')
      console.log(strGET)
    }
  },
  data: function () {
    return {
      id: '',
      /*
        Пример полученных данных для рендера
      */
      companyData: {
        name: 'Студия детского телевидения MOST MEDIA',
        avatar: 'https://static.wixstatic.com/media/801c2e_a88467bdaebe499d8d92a60c7e4ff586~mv2.png/v1/fill/w_214,h_152,al_c,q_80,usm_0.66_1.00_0.01/801c2e_a88467bdaebe499d8d92a60c7e4ff586~mv2.webp',
        contacts: {
          /*
            Минимум 1, максимум 3
          */
          phones: [
            79142900484,
            88005553535
          ],
          /*
            Все последующие контакты опциональны. На фронте
            нужно уметь определять есть они или нет
          */
          email: 'amazing216man@gmail.com',
          vk: 'https://vk.com/beginning__earthman',
          instagram: 'https://instagram.com/terran.ykt',
          facebook: 'https://www.facebook.com/illarionov.school/',
          web: 'https://yeducation.ru'
        },
        /*
          Обычно один, но может быть больше
        */
        address: [
          'ул.Богдана-Чижика 3, 4 этаж, вход со двора',
          'ул.Петра-Алексеева 17, 2 подъезд, кв.47'
        ],
        /*
          Стоимость будет означать от 400 рублей за занятие
        */
        cost: 400,
        /*
          Минимальный возраст. Текстом потому что
          могут указать возраст или класс
        */
        age: 'Для детей с 4 класса',
        /*
          Произвольное описание. Максимум 2500 симолов
        */
        describe: '"MOST MEDIA" - телевизионная студия с собственным телевизионным продуктом "МОСТ", над созданием которого работают дети. Телепроект существует уже не первый год и положительно зарекомендовал себя у телезрителей-детей и их родителей. Каждый выпуск наполнен яркими репортажами, интересными сюжетами, эксклюзивными интервью со звездами, а также авторскими рубриками юных корреспондентов: "INSTAразоблачители", "Вкусняшки от Няшки", "Типичный сериаломан", "Книжный Червь" и мн. др. Каждый ребенок получает уникальную возможность примерить телевизионную профессию, побывать по ту сторону телепроизводства и реализовать свой творческий потенциал.<br/>В программе обучения:<br/>- Тележурналистика и навыки телеведущего<br/>- Актерское мастерство и сценическая речь<br/>- Снятие речевых «зажимов» и «блоков»<br/>- Развитие креативного мышления и фантазии<br/>- Знакомство с телетехникой и телепроизводством<br/>- Практическая работа по созданию телевизионного продукта'
      }
    }
  },
  created () {
    this.getId()
  }
}
</script>
