<template>
  <div class="home">
    <!--
      Пока что просто будем условно договариваться
      о значениях категорий и категориях.
      Пусть рендер категорий будет на фронте, без
      привлечения сервера. Поскольку говнокод
      пытаюсь экономить трафик на чем попало.
    -->
    <select>
      <option selected> Все </option>
      <option value='1'> Спорт </option>
      <option value='2'> IT </option>
      <option value='3'> Танцы </option>
      <option value='4'> Помощь </option>
    </select>
    <CardBlock v-for='company in companyShort' v-bind:data="company" v-bind:key='company.id' v-on:click.native='pushTo(company.id)'/>
  </div>
</template>

<style scoped>
select {
  margin-bottom: 20px;
}
</style>

<script>
import CardBlock from '@/components/CardBlock.vue'

export default {
  name: 'home',
  components: {
    CardBlock
  },
  methods: {
    pushTo: function (id) {
      /*
        Передаем id компании, который получили в списке
        companyShort для скачивания данных по id
      */
      this.$router.push('/company?id=' + id)
    }
  },
  data: function () {
    return {
      /*
        Так будет выглядеть массив для отрисовки списка
        кружков. Они будут грузиться по 10 штук
        (Нужно чтобы количество на странице можно
        было удобно менять)
      */

      /*
        Для удобства рекомендую оставить ключам такие же названия
      */

      companyShort: [
        {
          id: 0,
          name: 'I Speak Ensligh',
          shortDesk: 'Курсы для детей и взрослых. Обучения с местными и иностранными преподавателями',
          logo: 'https://iseykt.ru/wp-content/uploads/2018/07/logo.png',
          // Если есть уникальная ссылка
          uniqueId: 'iseykt'
        },
        {
          id: 1,
          name: 'IT-школа Алтан',
          shortDesk: 'Курсы для детей и взрослых. Обучения с местными и иностранными преподавателями',
          logo: 'https://iseykt.ru/wp-content/uploads/2018/07/logo.png',
          /*
            Если нет уникальной ссылки, то id соотвествует id в таблице наверное
          */
          uniqueId: '0'
        },
        {
          id: 2,
          name: 'I Speak Ensligh',
          shortDesk: 'Курсы для детей и взрослых. Обучения с местными и иностранными преподавателями fkdfjdkfjdkfjdfdfdfdf',
          logo: 'https://iseykt.ru/wp-content/uploads/2018/07/logo.png',
          // Если есть уникальная ссылка
          uniqueId: 'iseykt'
        },
        {
          id: 3,
          name: 'I Speak Ensligh',
          shortDesk: 'Курсы для детей и взрослых. Обучения с местными и иностранными преподавателями',
          logo: 'https://iseykt.ru/wp-content/uploads/2018/07/logo.png',
          // Если есть уникальная ссылка
          uniqueId: 'iseykt'
        },
        {
          id: 4,
          name: 'I Speak Ensligh',
          shortDesk: 'Курсы для детей и взрослых. Обучения с местными и иностранными преподавателями',
          logo: 'https://iseykt.ru/wp-content/uploads/2018/07/logo.png',
          // Если есть уникальная ссылка
          uniqueId: 'iseykt'
        }
      ]
    }
  }
}
</script>
