<template>
  <div class="CardBlock">
    <div class="cardText">
      <h4>
        {{ data.name }}
      </h4>
      <p>
        {{ data.shortDesk }}
      </p>
    </div>
    <div class="cardPhoto">
      <img :src="data.logo"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardBlock',
  // Получение отправленных при вызове компонента данных
  props: {
    data: Object
  }
}
</script>
<!--
  Ниже локальные стили именно для этого компонента
-->
<style scoped>
h4 {
  margin: 0 0 5px 0;
}
p {
  margin: 0;
  font-size:  12px;
  text-align: left;
}
.CardBlock {
  height: 100px;
  display: flex;
}
.cardText {
  width: 70%;
}
.cardPhoto {
  width: 30%;
}
.cardPhoto img{
  height: 100px;
}
</style>
