<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Главная</router-link>
      <router-link to="/business">Бизнес</router-link>
      <router-link to="/help">Помощь</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  margin-bottom: 20px;
}

#nav a {
  color: #A5A5A5;
  font-size: 14px;
  margin-right: 12px;
  text-decoration: none;
  font-weight: bold;
}

#nav a.router-link-exact-active {
  color: #296bfe;
}
</style>
